<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.jbusdriver.component.movie.detail">

    <application>
        <activity
            android:name=".ui.activity.WatchLargeImageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>
</manifest>